@{
    ViewBag.Title = "About";
}

<!-- Begin page content -->
<div class="divider" id="section1"></div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <center><h1>Nosotros</h1></center>
        <hr />
        <center>
            <p>
                bkjFW FUfu wevbakjdlsgf hr;eiog qir;hkadjshgfuia areu . tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor  fkjewgrf  riu we gn felis sit amet augue.
            </p>
        </center>
        <hr>
        <div class="divider"></div>
    </div><!--/col-->
</div><!--/container-->

<div class="jumbotron">
    <div class="container">
        <div class="col-xs-6 col-md-4 card card-inverse" height:400px; style="height:400px; background-color: #e47c5d; border-color: #e42d40;">
            <div class="card-block">
                <h2 class="card-title" style="color:black;">Vision</h2>
                <p class="card-text" style="color:black;">
                    ser la fundacion oftalmologica y de salud primaria, mas importante de Santo
                    Domingo Este, con recursos Humanos comprometidos en brindar servicios memorables
                    a todos nuestros pacientes.
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 card card-inverse" style="height:400px; background-color: #e42d40; border-color: #142b3b;">
            <div class="card-block">
                <h2 class="card-title" style="color:lightgray;">Mision</h2>
                <p class="card-text" style="color:lightgray;">
                    somos calidos, humanos, gentiles; proveemos servicios de salud oftalmologicos
                    y generaler con excelencia a niños y adultos de santo domingo Este, sin importar
                    su condicion social y economica, que nos permita crecer para contribuir con la
                    sociedad a mejorar su salud visual e integral.
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 card card-inverse" style="height:400px; background-color: #142b3b; border-color: #e47c5d;">
            <div class="card-block">
                <h2 class="card-title" style="color:lightgray;">Valores</h2>
                <ul class="card-text" style="color:lightgray;">
                    <li><h3>Responsabilidad social</h3></li>
                    <li><h3>Exelecia en servicio</h3></li>
                    <li><h3>solidaridad</h3></li>
                    <li><h3>calidez</h3></li>
                    <li><h3>Dignidad</h3></li>
                    <li><h3>etica</h3></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="divider" id="section4"></div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
    </div>
</div>

<div class="row">

    <div class="col-sm-10 col-sm-offset-1">
        <h1>Location</h1>
    </div>
</div>
<!--/row-->
@*sobre nosotros
      quienes somos
      misión,vision valores
    colaboradores
       Dr. Ivanhoe Linares 			Dra Jessica Diaz
       Dr. Esteban Fernandez 		Dr Melvin Santana
       Dra MIlka NUnez			Dra Nidia Feliz
       Dr Saul Almonte*@
